<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203512347752-k96hit72kumastag2se24j216cq80ai6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203512347752-k96hit72kumastag2se24j216cq80ai6</string>
	<key>API_KEY</key>
	<string>AIzaSyAZtGTl-TYbo18NIlpkqQ8ei7lrCSL1ddk</string>
	<key>GCM_SENDER_ID</key>
	<string>203512347752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joe3524.InstaFB</string>
	<key>PROJECT_ID</key>
	<string>instafb-58b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>instafb-58b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203512347752:ios:1dae3cfe26c9885042cfdd</string>
</dict>
</plist>